result/
result_octo/
result_ChestXR/
result_demo/
models/
results_predicted_images_masks/
relation_network_trained/
.idea/
.DS_Store
data/
imgs/example_demo/
imgs/example_octo/
imgs/example_ChestXR/
data_pascal5i/
